.portfolio-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-filter__item {
  margin-right: 8px;

  &:last-child {
    margin-right: 0;
  }
}

.portfolio-filter__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  font-family: "Roboto", sans-serif;
  background-color: #f5f4fa;
  border: none;
  padding: 6px 22px;
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $footer-color;
    cursor: pointer;
    color: #fff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.portfolio-filter__btn--active {
  background-color: $accent-color;
  color: #fff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
