.header {
  background-color: #fff;
  border: 1px solid #ececec;
}
.nav-list {
  display: flex;
  margin-left: 93px;
}
.nav-list__item {
  position: relative;
  margin-right: 50px;
  &:last-child {
    margin-right: 0;
  }
}

.nav-list__link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}
.nav-list__link--active {
  color: $accent-color;

  &::after {
    content: "";
    height: 3px;
    background-color: $accent-color;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
.nav-bar {
  display: flex;
  align-items: center;
}
.nav-list__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
