h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  color: $text-color;
  background-color: #fff;
}
a {
  text-decoration: none;
  color: var(--text-color);
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
textarea {
  resize: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.header {
  background-color: #fff;
  border: 1px solid #ececec;
}
.header-container {
  padding: 0 15px;
  display: flex;
  align-items: center;
}
.footer {
  background-color: $darkest-color;
  padding: 60px 0;
}
